// _variables.scss

$color-primary: rgb(8, 22, 223);
$color-secondary: burlywood;
$color-background-light: whitesmoke;
$color-background-dark: black;
$color-text-light: black;
$color-text-dark: white;
$font-size-large: 30px;
$font-size-medium: 20px;
$gap-small: 12px;
$gap-large: 20px;
$img-width-large: 480px;
$img-width-small: 60%;
$margin-top-large: 150px;
$margin-top-medium: 60px;
$margin-top-small: 10px;
